<!DOCTYPE html>
<html>
  <head>
    <title>Sign up</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>	
	<form action="/login" method="POST" id="form-container">
	  <h2>Login</h2>
	  <div>
		<label for="username">Username:</label>
		<input type="text" name="username">
	  </div>
	  <br>
	  <div>
		<label for="password">Password:</label>
		<input type="password" name="password">
	  </div>
	  <br>
	  <% if (typeof message != "undefined") { %>
		<div class="error-message"><%= message %></div>
	  <% } %>
	  <div>
		<button>Log In</button>
	  </div>
	</form>
  </body>
</html>